/* Footer.css */

footer {
    background-color: #181717;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
  }
  

  .footer-links button {
    background-color: #181717;
    font-size: medium;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-links button:hover {
    background-color: #555;
}
  