/* References.css */

#references {
  scroll-snap-align: start;
  min-height: 100vh;
  background: #bbd2c5;
  background: -webkit-linear-gradient(to right, #bbd2c5, #536976);
  background: linear-gradient(to right, #bbd2c5, #536976);
  padding: 50px;
  text-align: center;
}

#references h2 {
  color: #333;
  text-align: center;
  margin-bottom: 30px;
}

#references p {
  color: #666;
}

/* Reviews Section */
.reviews-section {
  background-color: #536976;
  color: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  text-align: center;
  max-width: 1200px;
}

.review-card {
  background-color: #81bba3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px auto;
  max-width: 600px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

/* Reference container for the carousel */
.reference-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto;
  flex-direction: column;
}

@media (max-width: 768px) {
  .reviews-section, .review-card {
    max-width: 90%;
  }
}
